.domek-paragraf {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Alegreya', serif;
    font-size: 20px;
    text-align: justify;
}

.zdjecia-domek {
    display: flex;
    justify-content: center;
}

.zdjecia-domek-item {
    max-height: 10%;
    display: inline-block;
    padding: 0;
}

@media only screen and (max-width: 640px) {
    .zdjecia-domek {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.domek-opis-i-zdjecia {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
    font-family: 'Alegreya', serif;
    font-size: 20px;
}

.domek-i-opis-item {
    width: 50%;
    text-align: center;
}

@media only screen and (max-width: 640px) {
    .domek-opis-i-zdjecia {
        flex-direction: column;
        align-items: center;
    }

    .domek-i-opis-item {
        width: 100%;
    }
}

.domek-buttons {
    text-align: center;
}

.no-margin-top {
    margin-top: 0px;
}

.text-justified {
    text-align: justify;
}