header.header {
    color: black;
}

.title {
    color: black;
}

div.hamburger-menu {
    background-color: black;
}

.title a:link {
    text-decoration: none;
    color: black;
}

.title a:visited {
    text-decoration: none;
    color: black;
}

.title a:hover {
    text-decoration: none;
    color: black;
}

.title a:active {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 786px) {
    .hamburger {
        padding-top: 7.5vh;
    }

    button.button1 {
        top: 6.5vh !important;
    }
}

@media only screen and (max-width: 640px) {
    button.button1 {
        top: 7.5vh !important;
    }
}