/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:#f9f8f2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:#e0d5c1;
  border-radius: 150px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#8f6747 ;
}