.img__wrap {
    position: relative; 
    /* height: 200px;
    width: 257px; */
}

.img__description {
    position: absolute;
    top: -400px;
    bottom: 0;
    /* left: 10px; */
    /* right: 10px; */
right: 0;
left: 0;
    margin: 0;
    width: 600px; 
    height: 400px;
    /* padding: 20px; */
    padding: 10px;
    background: rgb(255, 255, 255, 0.50);
    color: #8f6747;
    font-size: 30px;
    font-weight: 800;
    vertical-align: text-bottom;
    /* color: #000; */
    visibility: hidden;
    opacity: 0;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
}

/* .img__wrap:hover {
    background: rgb(255, 255, 255, 0.72);
} */