.img__wrap {
    position: relative; 
}

.img__description {
    position: absolute;
    top: -315px;
    bottom: 0;
    left: 10px;
    margin: 0;
    width: 460px;
    height: 300px;
    padding: 10px;
    background: rgb(255, 255, 255, 0.50);
    color: #8f6747;
    font-size: 30px;
    font-weight: 800;
    visibility: hidden;
    opacity: 0;

    text-align: center;
    padding-top: 25%;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
}