<div class="footer">
      <div class="footer-flex">
            <div>
                  Gdzie nas znajdziesz?<br>
                  <a href="https://maps.app.goo.gl/BbAvYXeTuRpQrGUA7">Leśna 10<br> 

                        Skrzelczyce<br> 
                        
                        26-015 Pierzchnica
                      </a>

            </div>
            <div class="socials">
                  Numer telefonu<br>
                  mail<br><br>
                  <a href="https://www.instagram.com/domeknalesnej/">
                      <img src="assets/images/svg/instagram.svg" alt="Instagram" class="footer__socials--medium">
                  </a>

                  <a href="https://www.facebook.com/domeknalesnej">
                      <img src="assets/images/svg/facebook.svg" alt="Facebook" class="footer__socials--medium">
                  </a>
            </div>
            <div class="footer-regulamin"><a href="regulamin.html">
                  Regulamin </a><br> <a href="polityka.html">
                  Polityka prywatności</a></div>
      </div>


</div>