<header class="header">
    <div class="hamburger">
        <div id="myDropdown" class="dropdown-content">
            <a class="dropbtn" href="/#section-1">O nas</a>
            <a class="dropbtn" href="domek.html">Domek</a>
            <a class="dropbtn" href="atrakcje.html">Okoliczne atrakcje</a>
            <a class="dropbtn" href="dzieci.html">Dla dzieci</a>
            <a class="dropbtn" href="cennik.html">Cennik</a>
            <a class="dropbtn" href="/#section-6">Kontakt</a>
        </div>

        <div class="hamburger-menu"></div>
        <div class="hamburger-menu"></div>
        <div class="hamburger-menu"></div>
    </div>


    <div class="title animate__animated animate__slideInDown animate__slow">
        <a class="header-link" href="index.html">Domek na Leśnej</a>
    </div>

    <div class="header-item">
        <!-- we need this div to have a top header in order -->
    </div>
</header>

<div>
    <button class="button1"><a href=rezerwacje.html>Zarezerwuj</a></button>
</div>